body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
   /* align-items: center; */
    background: linear-gradient(to right, #11998E, #1CBF88, #38EF7D);
}

.title-bar {
    background-color: #ffff;          
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Adjust width for responsiveness */
    max-width: 590px; /* Set a maximum width */
    border-radius: 10px;
    margin-top: 10px;
	align-self: center;
}

.logo {
    width: 70%;
    height: auto;
    margin-left: 5px;
    margin-right: 15px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.nav-link {
    color: #11998E;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    display: flex;
    width: 90%; /* Adjust width for responsiveness */
    max-width: 800px; /* Set a maximum width */
	min-height: 360px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
	align-self: center;
}

.homepage-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.read-section {
    /* 
	display: flex;
    max-width: 600px; /* Set a maximum width 	*/
    
	width: 80%; /* Adjust width for responsiveness */
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
	padding-left:10px;
	padding-right:10px;
	flex-direction: column; /* Arrange items in a column */
	align-items: center;
	align-self: center;
}

.left-section,
.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-section {
    text-align: center;
    color: #333;
    padding: 20px;
    position: relative;
}

.left-section h1 {
    margin: 0;
}

.left-section p {
    color: #333;
    flex: 1;
}

.right-section {
    background: #f7f7f7;
    padding: 20px;
	display: flex;
    justify-content: space-between; /* Align items with space in between */
	/*align-items: center; /* Align items vertically in the center */
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: calc(100% - 22px);
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 14px;
}
/*
button {
    width: 80px;
    padding: 8px;
    margin-top: 10px;
    background-color: #2A9D8F;
    color: white;
    border: 1px solid #257d74;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
*/
button {
    /*flex-basis: 48%; /* Set the buttons to take up 48% of the width */
    padding: 10px;
    background-color: #2A9D8F;
    color: white;
    border: 1px solid #257d74;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
	margin-top: 10px;
	width: 180px;
}

button:hover {
    background-color: #1e7d72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result {
  /*  display: flex;
    align-items: center;
    justify-content: center; 
	background-color: #f7f7f7;
	color: #2A9D8F; */
	margin-bottom: 50px;
}

.homepage-section button {
    width: 50%;
    box-sizing: border-box;
}

#resetButton {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

@media screen and (max-width: 600px) {
    .title-bar, .container, .read-section {
        width: 90%;
        max-width: none;
    }
	
    .nav-links {
        justify-content: flex-end;
        margin-right: 0;
    }
    .nav-link {
        margin-left: 10px;
    }
}


